@media (max-width: 767px) {
  .navBottom {
    bottom: 0;
    margin-bottom: 1rem;
    width: 100%;
    border-top: 0.1rem solid orange;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 767px) {
  .navTop {
    top: 0;
    right: 0;
    width: 50%;
    margin-top: 3%;
  }
}

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background: rgba(63, 63, 63, 0.295);
 
}

.header {
  display: flex;
  /* background: #465964; */
  position: fixed;
  z-index: 1;
  /* height: 4.5rem; */
  border-bottom: 0.2rem solid orange;
  align-items: center;
  width: 100%;
}


@media (min-width: 767px) {
  .header {
    height: 5.5rem;
  }
}

nav {
  position: fixed;
  z-index: 1;
  padding: 0;
  margin: 0;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: flex-end;
  background: transparent;
}


li a {
  display: block;
  color: rgba(83, 211, 204, 0.945);
  text-decoration: none;
}

li a:hover {
  background-color: orange;
  color: white;
}

li {
  width: 100px;
}

.brand-logo img {
  width: 125px;
}

@media (min-width: 767px) {
  .brand-logo img {
    width: 180px;
  }
}

.Profile {
  background-image: url("/assets/images/bench.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  margin-top: 5.5em;
  border-bottom: 0.1rem solid rgba(83, 211, 204, 0.945);;
  width: 100%;
}

/* @media (min-width: 767px) {
  .Profile {
    margin-top:7.5em;
  }
} */

.BioPic {
  max-width: 220px;
  border-color: white;
  border-width: 5px;
  border-style: solid;
  margin-top: 1rem;
}

.userName {
  font-size: 24px;
  font-weight: bold;
  color: orange;
  padding: 0;
  margin: 0;
}

.memberSince {
  font-size: 16px;
  color: white;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.modal {
  margin-top: 10em;
}

.modal-content {
  color: orange;
}

.MuiInputBase-input {
  border-bottom: 0px !important;
  margin: 0px !important;
}

intput[type="text"] {
  padding-left: 10px!important;
}

.MuiFormControl-root {
  display: flex;
}
.makeStyles-searchDiv-106 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
