html {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background:rgba(220,220,220,0.8);
}

.AppBar {
  background: #418762;
  -moz-box-shadow: 3px 10px 30px black;
  -webkit-box-shadow: 3px 10px 30px black;
  box-shadow: 3px 10px 30px black;
  display: flex;
  align-items: center;
}

.navLinks {
  width: 100%;
}

.navLinks ul {
  text-align: right;
  margin-right: 1%;
  padding: 0;
}

.navLinks li a {
  text-decoration: none;
  color: white;
}

.navLinks li {
  display: inline;
}

.profile {
  margin-top: 150px;
  background-image: url("/assets/images/bench.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -moz-box-shadow: 3px 10px 30px black;
  -webkit-box-shadow: 3px 10px 30px black;
  box-shadow: 3px 10px 30px black;
}

.profileContainer {
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
}

.BioPic {
  -moz-box-shadow: 3px 10px 40px rgb(43, 42, 42);
  -webkit-box-shadow: 3px 10px 40px rgb(43, 42, 42);
  box-shadow: 3px 11px 40px rgb(43, 42, 42);
  border: 5px solid white;
  border-bottom: 60px solid white;
  max-width: 250px;
}

.userName {
  position: absolute;
  bottom: 20%;
  left: 45%;
}

.memberSince {
  position: absolute;
  bottom: 10%;
  left: 45%;
}

.intro {
  margin-top: 120px;
  text-align: left;
  /* padding: 5%; */
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  /* -moz-box-shadow: 3px 10px 30px black;
  -webkit-box-shadow: 3px 10px 30px black;
  box-shadow: 3px 10px 30px black; */
  /* border: 3px solid white; */
  /* border-bottom: 3px solid white; */
  font-size: 18px;
}

.intro h1,
h3 {
  text-align: center;
  color: orange;
}

.intro {
  font-size: 16px;
  color: #418762;
  font-weight: bold;
}

.intro p, ol, h3 {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.mapIntroContainer {
  border: 1px solid black;
  -moz-box-shadow: 3px 10px 30px black;
  -webkit-box-shadow: 3px 10px 30px black;
  box-shadow: 3px 10px 30px black;
  padding: 3%;
  margin-top: 120px;
  background: white;
}

.mapIntro {
  width: 80%;
}

.mapIntroContainer ol {
  font-size: 18px;
  margin: 1%;
}

.map-container .MuiPaper-root {
  position: relative;
  top: calc(1.5vw);
}

.hostelLink {
  text-decoration: none;
  color: blue;
}

.distanceData {
  font-size: 0.85em;
}
/* .locationData {
  display: none;
} */


@media (max-width: 750px) {
  .profile {
    background-image: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .memberSince,
  .userName {
    left: 30%;
  }
  .tripSummary {
    max-width: 100%;
    margin: 0;
  }
  .AppBar {
    display: block;
  }
  .navLinks {
    position: fixed;
    bottom: 0;
    background: #418762;
  }
  .navLinks ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .intro p, ol, h3 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

