nav {
    height: 5rem;
    line-height: 5em;
}

nav .brand-logo img{ 
    height: 4rem; 
}

.Profile {
    background-image: url("./bench.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 0px 3px 3px;
}

.BioPic {
    border-top: 25px solid white;
    border-bottom: 25px solid white; 
    box-shadow: 0 42px 38px 0 rgba(0, 0, 0, 0.2), 0 6px 25px 0 rgb(0, 0, 0);
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 3px;
}

.userName, .memberSince {
    font-size: 1.5em;
    margin-top: 4.5em;
}

.modal {
    margin-top: 15em;
}

.modal-content {
    color: orange;
}

.MuiInputBase-input {
 border-bottom: 0px !important;
 margin: 0px !important;
}

.myTrip, .trip {
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    background: ghostwhite;
    margin-top: 2%;
    border-radius: 3px;
    color: teal;
}

.myTripContent {
}

.myTripContent h5 {
    color: orange;
}
.myTripContent h6 {
    color: teal;
}
