@media (max-width: 767px) {
  .navBottom {
    bottom: 0;
    width: 100%;
    border-top: 0.1rem solid orange;
  }
}

@media (min-width: 767px) {
  .navTop {
    top: 0;
    right: 0;
    width: 50%;
    margin-top: 3%;
  }
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background: #465964;
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 4rem;
  border-bottom: 0.1rem solid orange;
  align-items: center;
}

@media (max-width: 767px) {
  .header {
    justify-content: center;
  }
}

@media (min-width: 767px) {
  .header {
    height: 8.5rem;
  }
}

nav {
  position: fixed;
  z-index: 1;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: space-evenly;
  align-items: center;
  background-color: #465964;
  height: 3rem;
}
li {
  display: flex;
  flex-direction: row;

}

li a {
  display: block;
  color: rgba(83, 211, 204, 0.945);
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.brand-logo img {
  width: 125px;
}

@media (min-width: 767px) {
  .brand-logo img {
    width: 250px;
  }
}

.Profile {
  background-image: url("/assets/images/bench.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  margin-top: 3.5em;
  border-bottom: 0.1rem solid orange;
}

@media (min-width: 767px) {
  .Profile {
    margin-top:7.5em;
  }
}

.BioPic {
  max-width: 200px;
  border-color: white;
  border-width: 5px;
  border-style: solid;
  margin-top: 1rem;
}

.userName {
  font-size: 24px;
  font-weight: bold;
  color: orange;
  padding: 0;
  margin: 0;
}

.memberSince {
  font-size: 16px;
  color: white;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.modal {
  margin-top: 10em;
}

.modal-content {
  color: orange;
}

.MuiInputBase-input {
  border-bottom: 0px !important;
  margin: 0px !important;
}

.myTrip,
.trip {
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  border-radius: 5px;
  color: #455a64;
}

.MuiFormControl-root {
  display: flex;
}
.makeStyles-searchDiv-106 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}