@media (max-width: 767px) {
  .navBottom {
    bottom: 0;
    height: 4%;
    width: 100%;
    padding-top: .5vh;
    border-top: 0.1rem solid orange;
    display: flex;
    background-color: rgb(41, 53, 43); 
    justify-content: space-between;
  }
  .loadmap-container .MuiPaper-root {
    position: relative;
    top: calc(18vw);
    padding-bottom: 1vh;
  }
  .brand-logo img {
    margin-left: -7%;
    width: 125px;
  } 
  .header {
    background: linear-gradient(to left, rgb(41, 53, 43), rgb(49, 75, 48) 20%, rgb(164, 197, 160) 68%, rgb(41, 53, 43) 68%);

  }
}

@media (min-width: 767px) {
  .header {
    background: linear-gradient(to left, rgb(41, 53, 43), rgb(49, 75, 48) 20%, rgb(164, 197, 160) 80%, rgb(41, 53, 43) 80%);

  }
  .brand-logo img {
    margin-left: 40%;
    width: 180px;
  }
  .navTop {
    top: 0;
    right: 0;
    width: 50%;
    margin-top: 3%;
  }
  .map-container .MuiPaper-root {
    position: relative;
    top: calc(-15vw);
  }
  .loadmap-container .MuiPaper-root {
    position: relative;
    top: calc(7vw);
    padding-bottom: 5vh;
}
.header {
  height: 5.5rem;
}
.map-container .MuiPaper-root {
  position: relative;
  top: calc(-12.5vw);
}
}

.stat {
  width: fit-content;
  padding-right: 5px;
  margin-top: -10px !important;
  margin-bottom: -10px !important;
  margin-left: -10vh;
  height: auto;
  text-align: center;  
}



html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  /* background: rgba(63, 63, 63, 0.295); */
 
}

.header {
  display: flex;
  /* background: #465964; */
  position: fixed;
  z-index: 1;
  /* height: 4.5rem; */
  border-bottom: 0.2rem solid orange;
  align-items: center;
  width: 100%;
  z-index: 2
}



nav {
  position: fixed;
  z-index: 1;
  padding: 0;
  margin: 0;
  z-index: 3 !important
}

ul {
  
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: flex-end;
  background: transparent;
 
}


li a {
  display: block;
  color: rgba(255, 255, 255, 0.945);
  text-decoration: none;
}

li a:hover {
  background-color: orange;
  color: white;
}

li {
  width: 100px;
}



.MuiFormControl-root {
    width: 100%;
}

#form-top {
    display: none;
}


.ProfileContent {
  height: 100%;
  width: fit-content;
  padding: 1px 10px 1px 10px;
  border: 1px ridge black;
  box-shadow: 0px 1px 4px white;
  border-radius: 3px;
  background-color: rgba(43, 46, 43, 0.6)
}
.Profile {
  background-image: url("/assets/images/bench.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  padding: 1rem;
  margin-top: 5.5em;
  border-bottom: 0.1rem solid rgba(83, 211, 204, 0.945);;
  width: 100%;
}

/* @media (min-width: 767px) {
  .Profile {
    margin-top:7.5em;
  }
} */

.BioPic {
  border-radius: 2px;
  max-width: 220px;
  border-color: white;
  border-width: 5px;
  border-style: solid;
  margin-top: 1rem;
}

.userName {
  font-size: 24px;
  font-weight: bold;
  color: orange;
  padding: 0;
  margin: 0;
}

.memberSince {
  font-size: 16px;
  color: white;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.modal {
  margin-top: 10em;
}

.modal-content {
  color: orange;
}

.MuiInputBase-input {
  border-bottom: 0px !important;
  margin: 0px !important;
}

intput[type="text"] {
  padding-left: 10px!important;
}

.MuiFormControl-root {
  display: flex;
}
.makeStyles-searchDiv-106 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
